# Eclipse
.classpath
.project
.settings
eclipsebin
.gradle
bin
gen
build
out
lib
target
pom.xml.*
release.properties
# Idea
.idea
obj
#MacOS
.DS_Store
local.properties
lancet-weaver/src/test/sample/class/
lancet-weaver/src/test/sample/product/